.container {
  display: flex;
  height: 93vh;
  width: 100.8vw;
  background: transparent;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background: transparent;
  flex-grow: 1;
}

.img {
  background: transparent;
}

.leftHalf,
.rightHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background: transparent;
}

.svg {
  background: transparent;
}

.mobileFooter {
  display: none;
}
/*////////////////////////////TODO: MEDIA QUERY ////////////////////////////*/

@media (max-width: 640px) {
  .container {
    display: flex;
    height: 99vh;
    width: 95vw;
    background: transparent;
    flex-direction: column;
  }

  .leftHalf {
    display: flex;
    width: 99%;
    height: 50%;
    margin: 2rem 0;
  }

  .rightHalf {
    display: flex;
    align-items: center;
    width: 99%;
    height: 60%;
  }

  .header {
    font-size: 2.5rem;
    letter-spacing: 1rem;
    margin: auto;
    margin-top: 1rem;
    font-weight: 300;
    background: none;
  }

  .text {
    font-size: 12px;
    text-align: center;
    margin: auto;
  }

  .mobileFooter {
    display: block;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
  }

  .footer {
    display: none;
  }

  .footer p {
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 5rem;
    letter-spacing: 1.5rem;
    margin: 5rem 0 5px 3rem;
    font-weight: 300;
    background: none;
  }

  .text {
    font-size: 16px;
    margin-left: 6rem;
  }

  .footer p {
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
  }
}

@media (min-width: 1280px) {
  .header {
    font-size: 9rem;
    letter-spacing: 1.8rem;
    font-weight: 300;
    margin: 14rem 0 5px 2rem;
    background: none;
  }

  .text {
    font-size: 18px;
    margin-left: 8rem;
  }

  .footer p {
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
  }
}

@media (min-width: 1920px) {
  .container {
    display: flex;
    height: 95vh;
    width: 100.8vw;
    background: transparent;
  }
  .header {
    font-size: 11rem;
    letter-spacing: 3rem;
    margin: 15rem 0 5px 2rem;
    font-weight: 300;
    background: none;
  }

  .text {
    font-size: 22px;
    margin-top: 1rem;
    padding: 0 3rem;
  }

  .footer p {
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
  }
}
