.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 2rem;
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 0 auto;
  padding: 20px;
}

.post {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  position: relative;
  padding-bottom: 3rem;
}

.post h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.post img {
  display: block;
  margin: 10px auto;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.post img:hover {
  transform: scale(1.05);
  transition: all ease-in-out 0.5s;
}

.post p {
  margin: 8px 0;
  color: #555;
}

.author {
  font-size: 14px;
  font-family: monospace;
  text-align: center;
  margin-bottom: 1rem;
}

.readMoreLink {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #007bff;
  text-decoration: none;
}

.readMoreLink:hover {
  text-decoration: underline;
}
