.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.container {
  width: 300px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.info {
  display: flex;
  border: solid 1px #ddd;
  border-radius: 20px;
  text-align: center;
  margin: 5rem auto 0;
  align-items: center;
  width: 60%;
  padding: 5px 2rem;
  font-weight: 500;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  display: block;
  margin-bottom: 15px;
}

.button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.buttonDisabled {
  background-color: #ccc;
  cursor: not-allowed;
}
